In [97]:
###KNN###



import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix

df= pd.read_csv(r'C:/Users/ELCOT/Desktop/LU ass/Day_24 materials/train.csv')
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [98]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [99]:
df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1,
        inplace=True, errors='ignore')

In [100]:
encoder = LabelEncoder()

for var in ['Sex','Embarked']:
    df[var] = encoder.fit_transform(df[var]) 
    
df.head(5)

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [101]:
from sklearn import neighbors

In [102]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [103]:
def KNN(X,y):
    # Split data
         X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.2,
                                                random_state=3,)

    # Train model
         knn = neighbors.KNeighborsClassifier(n_neighbors=3)
         knn.fit(X_train, y_train)
         y_preds=knn.predict(X_test)
         return confusion_matrix(y_test,y_preds),accuracy_score(y_test,y_preds)

In [104]:
df.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [105]:
KNN(X=df.drop('Pclass',axis=1),y=pd.DataFrame(df['Pclass']))

C:\Users\ELCOT\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

(array([[31,  2,  2],
        [ 7, 21, 12],
        [ 2,  8, 93]], dtype=int64),
 0.8146067415730337)

In [106]:
#the accuracy is 81.4%

In [107]:
def KNN1(X,y):
    # Split data
         X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.2,
                                                random_state=3,)

    # Train model
         knn = neighbors.KNeighborsClassifier(n_neighbors=4)
         knn.fit(X_train, y_train)
         y_preds=knn.predict(X_test)
         return confusion_matrix(y_test,y_preds),accuracy_score(y_test,y_preds)

In [108]:
KNN1(X=df.drop('Pclass',axis=1),y=pd.DataFrame(df['Pclass']))

C:\Users\ELCOT\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

(array([[33,  1,  1],
        [ 7, 22, 11],
        [ 2, 11, 90]], dtype=int64),
 0.8146067415730337)

In [109]:
def KNN2(X,y):
    # Split data
         X_train,X_test,y_train,y_test = train_test_split(X,y,
                                                test_size=0.2,
                                                random_state=3,)

    # Train model
         knn = neighbors.KNeighborsClassifier(n_neighbors=3)
         knn.fit(X_train, y_train)
         y_preds=knn.predict(X_test)
         return confusion_matrix(y_test,y_preds),accuracy_score(y_test,y_preds)

In [110]:
KNN2(X=df.drop('Pclass',axis=1),y=pd.DataFrame(df['Pclass']))

C:\Users\ELCOT\anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

(array([[31,  2,  2],
        [ 7, 21, 12],
        [ 2,  8, 93]], dtype=int64),
 0.8146067415730337)

In [111]:
###SVM###

In [112]:
from sklearn import svm
from sklearn.metrics import accuracy_score

In [113]:
def train_model(y_var):
    # Split data
    X_train, X_test, y_train, y_test = train_test_split(
        df.drop(y_var, axis=1), df[y_var], test_size=0.3, random_state=0)

    # Train
    clf = svm.SVC(gamma=0.01, C=100)
    clf.fit(X_train, y_train)

    # Evaluate
    return accuracy_score(y_test, clf.predict(X_test), normalize=True)

df_scores = pd.DataFrame(data=[], columns=['Feature', 'Accuracy'])
features  = ['Survived', 'Sex', 'Embarked', 'Parch', 'SibSp']

for y_var in features:
    df_scores.loc[len(df_scores)] = [y_var, train_model(y_var)]

df_scores.sort_values(by=['Accuracy'], ascending=False)

    Feature  Accuracy
3     Parch  0.797753
2  Embarked  0.767790
4     SibSp  0.749064
0  Survived  0.741573
1       Sex  0.726592