In [46]:
####question 1

mail_id = 'ram@hotmail.com'

for k in range(len(mail_id)):
    if mail_id[k] == '@':
        company_name = mail_id[k+1 : mail_id.index('.')]
        print(f'Company Name from {mail_id} : {company_name}')

Company Name from ram@hotmail.com : hotmail

In [87]:
x= input("Enter Words separate by comma (,) : ").split(',')
x.sort()
print(x)

Enter Words separate by comma (,) : ram,elaz,candy,dhana
['candy', 'dhana', 'elaz', 'ram']

In [60]:
### question 3
thisset= {"wifi",'headphones','Canvas'}
print(thisset)

{'wifi', 'headphones', 'Canvas'}

In [61]:
for item in thisset:
    print(item)

wifi
headphones
Canvas

In [62]:
'ipad' in thisset

False

In [63]:
"wifi" in thisset

True

In [64]:
thisset.add("ipad")
thisset

{'Canvas', 'headphones', 'ipad', 'wifi'}

In [65]:
thisset.update(["TV",'HDM1'])
thisset

{'Canvas', 'HDM1', 'TV', 'headphones', 'ipad', 'wifi'}

In [66]:
len(thisset)

6

In [67]:
#Remove Item
thisset.remove("HDM1")
thisset

{'Canvas', 'TV', 'headphones', 'ipad', 'wifi'}

In [68]:
thisset.pop()

'wifi'

In [72]:
set1 = {'ravan',2,3,4,5}
set2 = {'ram','seeta','hanuman'}
s = set1.union(set2)
s

{2, 3, 4, 5, 'hanuman', 'ram', 'ravan', 'seeta'}

In [75]:
### question 4

numbers = input("Enter Numbers with a range(1-n) Separate by Space (No Duplicates) : ").split(' ')
n_list = []
for n in numbers: # loop for converting each element into int
    n_list.append(int(n))
n_list.sort() # To sort numbers in accending
print(f'List of Numbers : {n_list}')

counter = 1

for num in n_list:
    if counter == num:
        counter+=1
    else:
        print(f'Missing Number  : {counter}')
        counter+=2

Enter Numbers with a range(1-n) Separate by Space (No Duplicates) : 1 3 4 6 8 9 10 12
List of Numbers : [1, 3, 4, 6, 8, 9, 10, 12]
Missing Number  : 2
Missing Number  : 5
Missing Number  : 7
Missing Number  : 11

In [78]:
### question 5

numbers = input("Enter Numbers Separate by Space : ").split(' ')
n_list = []
for n in numbers: # loop for converting each element into int
    n_list.append(int(n))
n_list.sort() # To sort numbers in accending
print(f'List of Numbers : {n_list}')

print(f'Without Duplicate Numbers : {list(dict.fromkeys(n_list))} ')

Enter Numbers Separate by Space : 1 2 33 44 33 53 13 1 2
List of Numbers : [1, 1, 2, 2, 13, 33, 33, 44, 53]
Without Duplicate Numbers : [1, 2, 13, 33, 44, 53]